
button.button{
    width: 33%;
    word-wrap: break-word;
    display: inline-block;
    font-size: 2.5vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #538888;
    border: none;
    margin-top: 5px;
}

button.profile_button{
    font-size: 2.5vw;
    display: inline-block;
    white-space: nowrap;
}

button:hover {background-color: #368e7d
}

button:active {
  background-color: #368e7d;
  transform: translateY(4px);
}

.content{
    width: 100%;
    background-color: #538888;
}

hr {
  border: 1px solid #368e7d;
  margin-bottom: 20px;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}

div.Account{
    margin: 10px;
    height: 100%; 
}

h1.Header{
    text-align: center; 
    color: #ffff
}

div.user_profile{
    height: 50%;  
}

div.user_info{
    width: 50%;
}

div.profile_btns{
    margin-right: 0px;
    width: 40%;
}

div.properties{
    width: 100%;
    display:inline-block;
    margin: 0px,30%,0px,30%;
}

table.UserInfo{
    width: 60%;
    text-align: left;
    text-align-last: inherit;
    border-collapse: collapse;  
}
table.proptable{
    width: 100%;
    text-align: center;
    border-collapse: collapse; 
}
table, th, td {
    border: 1px solid black;
    border-left: 1px solid;
    border-right: 1px solid;
}

table th {
    background-color: #538888;
    color: white;
}
table td {
    background-color: #ffff;
    color: black;
}








