div.content{
    margin-left: 25%;
    max-width: 50%;
    background: pink;
}

div.propHeader{
    padding-top: 5px;
    display: flex;
    border-bottom: solid 2px darkslategray;
}

.address{
    
    font-size: 18px;
    width: 80%;
    word-wrap: break-word ;
    text-align: left;
    padding-left: 5px;
}

.headerInfo{
    width: 30%;
    background: pink;
    position: inherit;
}

.bedBath{
    padding: 5px;
}

.photoAndOwner{
    padding: 10px;
    display: flex;
    border-bottom: solid 2px darkslategray;
}

.images{
    padding-right:10px;
}

.ownerInfo{
    display: grid;
    width: 100%
}

.propDetails{
    background: white;
    word-wrap: break-word;
    padding: 3px 10px;
    margin:5px;
}

h3{
    margin:3px 0px 3px 0px;
}

div.amenaties{
    margin-bottom: 5px;
}

.header{
    font-size: 2vw;
    text-align: center;
    margin-top:5px;
    border-bottom:solid 1px;
    padding: 0px 0px;
    height: inherit;
}
img{
    width: 25vw; /* you can use % */
    height: 25vw;
}

li{
    margin-left: 15px;
}