@import url("Main.css");
/*credit: https://www.w3schools.com/howto/howto_css_signup_form.asp*/

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Modal Content/Box */
.registrationForm {
  background-color: #7cc2a7;
  margin: 0% auto 0% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

textarea{
  width: 100%;
  height: 100px;
  background: white; 

  font-weight: bold;
  border: none;

}

.addBtn{
  margin-top: 5px;
  height: 47px;
  border: none;
  border-left: solid 1px ;
  cursor: pointer;
}

.cancelBtn{
  width: 100%;
  word-wrap: break-word;
  display: inline-block;
  font-size: 2.5vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #538888;
  border: none;
  padding: 5px;
  margin-top: 5px;
}

input.amenatiesInput{
  width: 50%;
  
}

select.amenatiesDropDown{
  margin-left: 10px;
  width: 50%;
  height: 26px;
  line-height: 26px;
  margin-top: 4px;
}

a.cancelBtn:hover {
  background-color: #368e7d
}

a.cancelBtn:active {
  background-color: #368e7d;
  transform: translateY(4px);
  text-decoration: none;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}