{% extends "toolbar.html" %}

{% block body %}
<link rel="stylesheet" href="/static/Home.css">
<div class="Home">
    <h1 class="Header">All Properties</h1>
    <hr>
    <div class="properties">
        {% for p in properties %}
            <div class="propertyList">    
                <div  class="propAddress">
                    <h1><a href="/property/{{p._id}}">{{p.address}}</a></h1>
                </div>
                
                <div class="propDetails">
                    Cost: {{p.cost}} /Month<br>
                    <hr>
                    <label style="text-decoration: underline">Description:</label>
                    {{p.description}}
                    <label style="text-decoration: underline">Amenaties:</label>
                    {% for a in p.amenities%}
                        {{a.capitalize()}},
                    {% endfor%}
                    <br>
                    <div class="bedBath">
                        <label class="bed">{{p.Bedrooms}} Bedrooms</label>
                        <label class="bath">{{p.bathrooms}} Bathrooms</label>
                    </div>
                </div>
            </div> 
        {% endfor %}
        
    </div>
</div>
{% endblock%}