{% extends "toolbar.html" %}

{% block body %}
    <link rel="stylesheet" href="./static/Property.css">
    <div style="width:100%">
        <div class="content">
            <div class="propHeader">
                <h2 class="address">Addfffffffffdddddddddddddddddddddddddddddddddddddddddddddddddddddd\sddfffffffress</h2>
                <div class="headerInfo">
                    <a style="padding:10px;">cost</a>
                    <div style="display:flex;" class="bedBath">
                        <a>Beds {{beds}}|</a>
                        <a>Baths {{baths}}|</a>
                    </div>
                </div>
            </div>

            <div class="photoAndOwner">
                <div class="images">
                    <img src="./static/test.jpg" alt="TEST IMAGE">  
                </div>
                <div class="ownerInfo">
                    <a>Name:</a> 
                    <a>Email:</a> 
                    <a>Phone:</a> 
                </div>
            </div>

            <div class="propDetails">
                <div class="description">
                    <h3>Description:</h3>
                    <p style="margin-top:0px">dohweafophapofhafhaoi[hjfoaiehfo[iadhfo[iahiioahfioweahfioahfioweah
                            foaiehfo[iadhfo[iahiioahfioweahfio[weahfoi[eahfo[iAHJFIOSJF[OSAJfio[weahfoi[eFhfoi[eahfo[iAHJFIOSfio[weahfoi[eJF[OSAJF
                            foaiehfo[iadhfo[iahiioahfioweahfio[weahfoi[eahfo[iAHJFIOSJF[OSAJF
                            foaiehfo[iadhfo[iahiioahfioweahfio[weahfoi[eahfo[iAHJFIOSfio[weahfoi[eJF[OSAJF
                            foaiehfo[iadhfo[iahiioahfioweahfio[weahfoi[eahfo[ifio[weahfoi[eAHJFIOSJF[OSAJF
                            foaiehfo[iadhfo[iahiioahfioweahfio[weahfoi[eahfo[iAHJFIOSJF[OSAJF
                            foaiehfo[iadhfo[iahiioahfioweahfio[weahfoi[eahfofio[weahfoi[efio[weahfoi[e[iAHJFIOSJF[OSAJF
                            o[weahfoi[eahfo[iAHJFIOSJF[OSAJFO[IAHJFIO[HAFIOHA</p>
                </div>
                <div class="amenaties">
                    <h3>Amenaties:</h3>
                        <table id="facilities">
                            <tbody><tr><td valign="top">
                                <ul>
                                    <li>Parking</li>
                                    <li>Central Heating</li>
                                    <li>Washing Machine</li>
                                </ul></td><td valign="top">
                                    <ul>
                                        <li>Dryer</li>
                                        <li>Dishwasher</li>
                                        <li>Microwave</li>
                                    </ul>
                                </td>
                                <td valign="top">
                                    <ul>
                                        <li>Wheelchair Access</li>
                                        <li>Garden / Patio / Balcony</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock%}