{% extends "toolbar.html" %}

{% block body %}
    
    <link rel="stylesheet" href="/static/Property.css">
    
    <div style="width:100%">
        <div class="content">
            <div class="propHeader">
                <h2 class="address">{{address}}</h2>
                <div class="headerInfo">
                    <a style="padding:10px;">{{cost}}&euro;/Month</a>
                    <div style="display:flex;" class="bedBath">
                        <a>|Beds: {{beds}}|</a>
                        <a>Baths: {{baths}}|</a>
                    </div>
                </div>
            </div>

            <div class="photoAndOwner">
                <div class="images">
                    <img src="/static/Test.jpg" alt="TEST IMAGE">  
                </div>
                <div class="ownerInfo">
                    <h2 class= "header">Owner Information</h2>
                    <div>
                        <b>Name:</b>
                        {{name}} 
                    </div>
                    <div>
                        <b>Email:</b>
                        {{email}}
                    </div>
                    <div> 
                        <b>Phone:</b>
                        {{phone}}
                    </div>
                </div>
            </div>

            <div class="propDetails">
                <div class="description">
                    <h3>Description:</h3>
                    <p style="margin-top:0px; padding-left:10px;">{{description}}</p>
                </div>
                <div class="amenaties">
                    <h3>Amenaties:</h3>
                    <table>
                        <tbody>
                            {% for p in amenaties %}
                                <tr>
                                    <li>{{ p.capitalize() }}</li>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock%}