<!doctype html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="./static/Toolbar.css">
    </head>
    <body>
        
        <div class="toolbar">
            
             {% if session.logged_in %}
                    <a href="/"><button class="button">Home</button></a>
                    <button id="rent" class="button rent">Rent </button>
                    <a href="/account"><button class="button">Account</button></a> 
             {% else %}
                   <a href="/"><button class="button">Home</button></a>
                   <button id="rent" class="button">Rent</button>
                   <a href="/login"><button class="button">Log in</button></a>
             {% endif %}
            
            
            <div id="simpleModal" class=modal>
                <div class="modal-content">
                    <span class="closeBtn">&times;</span>
                    <form action="/rent" method="post">
                        <fieldset>
                            <div class="col">
                                <label class="searchLabel">Area:</label>
                                <select name="county" method="GET">
                                    {% for county in counties %}
                                        <option value= "{{county}}" SELECTED>{{county}}</option>"
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col">
                                <label class="searchLabel">Price Range:</label>
                                <input placeholder="Min" type="number" name="minPrice">
                                <input placeholder="Max" type="number" name="maxPrice"> 
                            </div>
                            
                            <div class="col">
                                <label class="searchLabel">Bedrooms:</label>
                                <input placeholder="Min" type="number" name="minBed">
                                <input placeholder="Max" type="number" name="maxBed">
                            </div>
                            
                            <a><button type="submit" name="submit" value="action" class="search">SEARCH</button></a>

                        </fieldset>
                    </form>                    
                </div>    
            </div>   
            
            <script src="./static/index.js"></script>
        </div>
   
        <hr> 
        
        {% block body%}
        {% endblock %}
        
    </body>
</html>
